<div class="garelly-cover-image">
</div>
<div class="garelly-title">
    <h1>Roman Interier</h1>
    <h3>Jean Honoré Fragonard</h3>
</div>
<div class="garelly">
<div class="garelly-picture">
<%= image_tag("roman-small.jpg") %>
</div>
</div>
<br>
<div class="palette-container">
    <div class="palette-frame">
        <div class="palette-color" style="background-color:#282723"></div>
        <div class="palette-code">
            <p><span class="js-copytext">#282723</span></p>
            <p><button class="js-copybtn">#282723</button></p>
        </div>
    </div>
    <div class="palette-frame">
        <div class="palette-color" style="background-color:#ab703a"></div>
        <div class="palette-code">
            <p><span class="js-copytext">#ab703a</span></p>
            <p><button class="js-copybtn">#ab703a</button></p>
        </div>
    </div>
    <div class="palette-frame">
        <div class="palette-color" style="background-color:#cfad5c"></div>
        <div class="palette-code">
            <p><span class="js-copytext">#cfad5c</span></p>
            <p><button class="js-copybtn">#cfad5c</button></p>
        </div>
    </div>
    <div class="palette-frame">
        <div class="palette-color" style="background-color:#aaa27e"></div>
        <div class="palette-code">
            <p><span class="js-copytext">#aaa27e</span></p>
            <p><button class="js-copybtn">#aaa27e</button></p>
        </div>
    </div>
    <div class="palette-frame">
        <div class="palette-color" style="background-color:#ae3d1e"></div>
        <div class="palette-code">
            <p><span class="js-copytext">#ae3d1e</span></p>
            <p><button class="js-copybtn">#ae3d1e</button></p>
        </div>
    </div>
</div>
<div class="item-container">
    <div class="item-frame">
        <div class="item-image">
            <%= link_to image_tag("roman-hat.jpg"),'https://zozo.jp/shop/ca4la/goods/52863844/?did=87057789&rid=1203' %>
        </div>
    </div>
    <div class="item-frame">
        <div class="item-image">
            <%= link_to image_tag("roman-pants.jpg"),'https://zozo.jp/shop/moca/goods/52752811/?did=86421581' %>
        </div>
    </div>
    <div class="item-frame">
        <div class="item-image">
            <%= link_to image_tag("roman-shoes.jpg"),'https://zozo.jp/shop/redyazel/goods-sale/54462161/?did=90465955' %>
        </div>
    </div>
    <div class="item-frame">
        <div class="item-image">
            <%= link_to image_tag("roman-bag.jpg"),'https://zozo.jp/shop/lowrysfarm/goods/54401584/?did=90142226'%> 
        </div>
    </div>
    <div class="item-frame">
        <div class="item-image">
            <%= link_to image_tag("roman-tops.jpg"),'https://zozo.jp/shop/retrogirl/goods-sale/53079135/?did=88213113' %>
        </div>
    </div>
</div>
<%= link_to 'トップページ', tweets_index_path %>

<%= javascript_pack_tag 'tweets' %>
